ovms_models/model.xml     filter=lfs diff=lfs merge=lfs -text
ovms_models/model.bin     filter=lfs diff=lfs merge=lfs -text
ovms_models/model.mapping filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
